﻿@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="startpage">
    <aside class="bigcontentcontainer">
        <header>
            <h1>Tjenixen,</h1>
        </header>
        <div>
            Jag är en 35-årig man som en systemvetenskaplig examen ifrån Örebro Universitet från 2006.
            Har jobbat med webbutveckling och systemutveckling i nära tio år och har även på slutet ärbetat lite
            med SEO. Ni finner mer information om mina arbetslivserfarenheter under fliken "CV".
            <br />
            <br />
            Jag bor sedan 2007 i Vallentuna norr om Stockholm och trivs bra i det område där jag bor.
            Har sedan ett år varit med i styrelsen i bostadsföreningen (vilket jag också har medvarkat som tidigare
            i tre år).
            <br />
            <br />
            <a href="#">Var jobbar jag nu?</a>
            <a href="#">Privata .NET Projekt</a>
            <a href="#">Koppla upp mot min VPN tunnel</a>
        </div>
    </aside>
    <aside>
        <br />
        <br />
        <img src="/img/PC240001.jpg" alt="Jag" />
    </aside>
</div>