﻿@using MVCSite.Repository
@model DataAccess.Sql.Page
@{
    Layout = "~/Views/Cms/Master/Layout.cshtml";
    int vxl_flg = -1;
}

@section head
{
    <script src="~/js/ckeditor/ckeditor.js"></script>
}

<div id="cms">
    @if(CmsUserRepository.IsLoggedIn)
    {
    <div id="cmscontainer">
        <aside id="pagescontainer" class="cmscontainer">
            @foreach(var page in CmsRepository.GetAllPagesForArea(CmsRepository.GetCurrentArea().AreaID))
            {
            <div class="page_item">
                <a href="/cms/editpage/@page.PageID">@page.PageName</a>
            </div>
            }
            <div class="page_item newpage_item">
                <a href="/cms/newpage/@CmsRepository.GetCurrentArea().AreaID">Add new page</a>
            </div>
        </aside>
        <aside id="paragraphscontainer" class="cmscontainer">
            @if (Model != null)
            {
            var currentParagraphs = CmsRepository.GetParagraphsForPage(Model.PageID).OrderBy(pp => pp.ParagraphOrder);
            <div>
                <div class="editPageHeader">
                    Editing page: @Model.PageName 
                </div>
                <div id="existingParagraphsHeader">
                    Page settings:
                </div>
                <div class="editpagesettingscontainer">
                    <form method="post" action="/cms/page/save/@Model.PageID">
                        <div class="pagenamecontainer">
                            <div class="pageheader">PageName:</div>
                            <input type="text" id="editpagenametext" name="editpagenametext" value="@Html.Raw(Model.PageName)" />
                        </div>
                        <div class="pageheader pagedatecontainer">
                            Creation date:&nbsp;@Model.CreationDate.ToString("yyyy/MM/dd hh:mm:ss")
                        </div>
                        <div class="pageheader pagedatecontainer">
                            Last updated date:&nbsp;@Model.UpdatedDate.ToString("yyyy/MM/dd hh:mm:ss")
                        </div>
                        <div class="pageheader pagesavebutton">
                            <input type="submit" value="Save">
                        </div>
                    </form>
                </div>
                <div id="existingParagraphsHeader">
                    Paragraphs:
                </div>
                @if (currentParagraphs != null && currentParagraphs.Count() > 0)
                {
                    <div id="existingParagraphs">
                    @foreach (var pp in currentParagraphs)
                    {
                        vxl_flg = (++vxl_flg == 1) ? 1 : 0;
                        string classname = (vxl_flg == 0) ? "first" : "second";
                        <div id="paragraph_list_@pp.ParagraphID" class="paragraph_list paragraph_list_edit paragraph_list_@classname test_@vxl_flg">
                            <aside class="paragraphHeader">
                                <a href="/cms/editparagraph/@pp.ParagraphID">@pp.ParagraphHeader</a>
                            </aside>
                            <aside style="float:right;">
                                <input type="button" value="Edit" onclick="window.location = '/cms/editparagraph/@pp.ParagraphID';" />
                                <input type="button" value="Move up" />
                                <input type="button" value="Move down" />
                            </aside>
                        </div>
                    }
                    </div>
                }
                <div class="paragraph_list_add">
                    <div class="paragraphHeader">
                        Add paragraph with name: 
                    </div>
                    <div>
                        <form action="/cms/addparagraph/@Model.PageID" method="post">
                            @Html.AntiForgeryToken()
                            <aside>
                                <input id="addNewParagraphHeader" name="addNewParagraphHeader" type="text" />
                            </aside>
                            <aside>
                                <input type="submit" value="Add" />
                            </aside>
                        </form> 
                    </div>
                </div>
                @if(ViewBag.CurrentParagraph != null)
                {
                <div id="editcurrentparagraphcontainer">
                    <div id="existingParagraphsHeader">
                        Edit paragraph: @Html.Raw(ViewBag.CurrentParagraph.ParagraphHeader)
                    </div>
                    <div>
                        <div>
                            <div>Header:</div>
                            <div>
                                <input type="text" id="currentparagraphheader" name="currentparagraphheader" value="@Html.Raw(ViewBag.CurrentParagraph.ParagraphHeader)" />
                            </div>
                        </div>
                        <div>
                            <div>Text:</div>
                            <div>
                                <textarea id="currentparagraphtext" name="currentparagraphtext">@Html.Raw(ViewBag.CurrentParagraph.ParagraphText)</textarea>
                            </div>
                        </div>
                        <div>
                            <input type="button" id="paragraphsavebutton" name="paragraphsavebutton" value="Save" />
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    CKEDITOR.replace('currentparagraphtext');

                    $('#paragraphsavebutton').click(function () {
                        var currentparagraphheader = encodeURIComponent($('#currentparagraphheader').val());
                        var currentparagraphtext = encodeURIComponent(CKEDITOR.instances.currentparagraphtext.getData());

                        $.ajax({
                            url: '/cms/saveparagraph/@ViewBag.CurrentParagraph.ParagraphID',
                            method: 'POST',
                            data: { currentparagraphheader: currentparagraphheader, currentparagraphtext: currentparagraphtext },
                            dataType: 'html',
                            async: false,
                            cache: false,
                            success: function (data) {
                                window.location.reload();
                            }
                        });
                    });

                </script>
                }
            </div>
            }
            else
            {
            <div>
                Please choose an page first to edit. 
            </div>
            }
        </aside>
    </div>
    }
    else
    {
    <div id="logincontainer">
        @if (ViewBag.IsNotValidLogin != null && ViewBag.IsNotValidLogin)
        {
        <div>
            <span style="color:red">Wrong username or password</span>
        </div>
        }
        <div style="width:98%;">
            <div>
                Here you can login to the CMS feature for editing the websites for our pages. 
            </div>
            <div style="margin-top:8px;">
                <form method="post" action="/cms/login">
                    @Html.AntiForgeryToken()
                    <div class="loginfield">
                        Username:
                        <input type="text" id="username" name="username" />
                    </div>
                    <div class="loginfield">
                        Password:
                        <input type="text" id="password" name="password" />
                    </div>
                    <div class="loginfield loginbutton">
                        <input type="submit" value="Login" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    }
</div>