﻿@using MVCSite.Repository
<!DOCTYPE html>
<html ng-app="homepageapp">
<head>
    <title>CMS</title>
    <meta charset="utf-8" />
    <link href="~/css/less/cms.less?v=6" rel="stylesheet" type="text/css" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="cms">
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="~/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="~/js/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="~/js/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="~/js/angular/facebookController.min.js?v=2"></script>
    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/main")
</head>
<body>
    <div id="cmscontent">
        @if (CmsUserRepository.IsLoggedIn)
        {
        <div id="topmenu">
            <nav>
                <ol>
                    <li><a href="/cms">Pages</a></li>
                    @if (CmsUserRepository.CurrentCmsUser.IsAdministrator)
                    {
                    <li><a href="/cms">Users</a></li>
                    }
                    <li>
                        <span>Choose website:</span>&nbsp;
                        <select id="chooseWebsiteSelect">
                            @foreach (var website in CmsRepository.GetAllWebsites())
                            {
                            <option value="@website.AreaID">@website.AreaName</option>
                            }
                            <option value="-1">Add new...</option>
                        </select>
                    </li>
                    <li class="last"><a href="/cms/logoff">Log off</a></li>
                </ol>
            </nav>
        </div>
        }
        <div id="placeholder">
            <section id="maincontent">
                @RenderBody()
            </section>
            <footer id="footer">
                @Html.Partial("Footer")
            </footer>
        </div>
    </div>
    <script type="text/javascript">
        $('#chooseWebsiteSelect').change(function () {
            var areaID = $(this).val();

            if (areaID != '-1')
                window.location = '/cms?areaID=' + areaID;
        });
    </script>
</body>
</html>
