﻿/***********************************************************************************************
    Mixin funcs style for custom mixin functions used by the homepage.
    Created by: Håkan Fogelberg
    Last updated: 2017-08-04
***********************************************************************************************/

.gradient(@fromColor, @toColor, @fromStartProc, @toEndProc) {
    background: -moz-linear-gradient(top, @fromColor @fromStartProc, @toColor @toEndProc);
    background: -webkit-gradient(left top, left bottom, color-stop(@fromStartProc, @fromColor), color-stop(@toEndProc, @toColor));
    background: -webkit-linear-gradient(top, @fromColor @fromStartProc, @toColor @toEndProc);
    background: -o-linear-gradient(top, @fromColor @fromStartProc, @toColor @toEndProc);
    background: -ms-linear-gradient(top, @fromColor @fromStartProc, @toColor @toEndProc);
    background: linear-gradient(to bottom, @fromColor @fromStartProc, @toColor @toEndProc);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@fromColor', endColorstr='@toColor', GradientType=0 );
}
