﻿@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<aside class="bigcontentcontainerglob">
    <div id="allpostcontainer">
        @Html.Partial("PartialBlogPost")
    </div>
    <div id="createnewblog">
        <h2>Skriv blogginlägg:</h2>
        <div>
            <label for="newblogheader">Rubrik</label>
            <div class="clear"></div>
            <input type="text" id="newblogheader" />
        </div>
        <div>
            <label for="newblogingress">Ingress</label>
            <div class="clear"></div>
            <input type="text" id="newblogingress" />
        </div>
        <div>
            <label for="newblogingress">Meddelande</label>
            <div class="clear"></div>
            <textarea id="newblogmessage"></textarea>
        </div>
        <div>
            <input type="button" value="Skriv inlägg" id="addpostbutton" />
        </div>
    </div>
</aside>
<script type="text/javascript">
    $(document).ready(function () {
        $('.fancybox').fancybox();
    });
    $('#addpostbutton').click(function () {
        var header = $('#newblogheader').val();

        var ingress = $('#newblogingress').val();
        var message = $('#newblogmessage').val();

        $.ajax({
            url: '/blog/Save',
            method: 'POST',
            data: {header:header, ingress:ingress, message:message},
            dataType: 'html',
            async: false,
            cache: false,
            success: function (data)
            {
                $.ajax({
                    url: '/blog/GetAllPosts',
                    dataType: 'html',
                    async: false,
                    cache: false,
                    success: function (data) {
                        $('#allpostcontainer').html(data);
                    }
                });
            }
        });
    });
</script>


