﻿<h1>Blogg</h1>
@foreach (DataAccess.Blog blog in (new DataAccess.BlogContext()).GetAllBlogs().OrderByDescending(o => o.Date))
{
    <div id="blog_@blog.BlogID" class="blogpost">
        <div class="blogheader">@blog.Date.ToShortDateString(): <a class="fancybox fancybox.ajax" href="~/blog/ViewBlogPost?ID=@blog.BlogID">@blog.Header</a></div>
        <div class="blogingress">
            @blog.Ingress
        </div>
    </div>
}
