﻿@model DataAccess.Page

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section head
{
    <script src="~/js/ckeditor/ckeditor.js"></script>
}

<div>
    <div>
        <label form="pagename"><b>Page name:</b></label>
        <div class="clear"></div>
        <input type="text" id="pagename" name="pagename" value="@Model.PageName" />
    </div>
    <div style="margin-top:12px;">
        <label form="pagename"><b>Html Code</b></label>
        <div class="clear"></div>
        <textarea type="text" name="pagehtmlcode" id="pagehtmlcode">@Model.HtmlCode</textarea>
    </div>
    <div style="margin-top:12px;">
        <label form="pagename"><b>Is startpage</b></label>
        @if (Model.IsStartPage)
        {
        <input type="checkbox" id="isstartpagecheckbox" name="isstartpagecheckbox" checked="checked" value="@Model.PageName" />
        }
        else
        {
        <input type="checkbox" id="isstartpagecheckbox" name="isstartpagecheckbox" value="@Model.PageName" />
        }
    </div>
    <div style="margin-top:12px;">
        <input type="button" value="Save" id="pagesavebutton" />
        <input type="button" value="Delete" id="pagedeletebutton" />
    </div>
</div>
<script>
    CKEDITOR.replace('pagehtmlcode');

    $('#pagesavebutton').click(function () {
        var pagename = encodeURIComponent($('#pagename').val());
        var pagehtmlcode = encodeURIComponent(CKEDITOR.instances.pagehtmlcode.getData());
        var isstartpage = (document.getElementById('isstartpagecheckbox').checked) ? '1' : '0';

        $.ajax({
            url: '/page/save',
            method: 'POST',
            data: { pageid: '@Model.PageID', pagename: pagename, pagehtmlcode: pagehtmlcode, isstartpage: isstartpage },
            dataType: 'html',
            async: false,
            cache: false,
            success: function (data) {

            }
        });
    });

    $('#pagedeletebutton').click(function () {
        $.ajax({
            url: '/page/delete',
            method: 'POST',
            data: { pageid: '@Model.PageID' },
            dataType: 'html',
            async: false,
            cache: false,
            success: function (data) {
            }
        });
    });
</script>
