﻿@model DataAccess.Page

@{
    Layout = "~/Views/Website/Hakan/Master/Layout.cshtml";
}

<div id="startpage">
    <aside class="bigcontentcontainer">
         @Html.Raw(Model.HtmlCode)
    </aside>
    <aside>
        <div>
            <br />
            <img src="/img/PC240001.jpg" alt="Jag" />
        </div>
        <div class="facebook_status_container">
            <div>
                <h2>Mitt senaste Facebook inlägg:</h2>
            </div>
            <div>
                <div ng-controller="FacebookController">
                    <div class="facebook_status_container_item" ng-repeat="listitem in statusitems">
                        <div class="createdtime">{{listitem.CreatedTime}}</div>
                        <div class="message">{{listitem.Message}}</div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
@if(Model.IsStartPage)
{
<div class="netprojects" style="color: rgb(85, 85, 85); font-family: Georgia, 'Times New Roman', Times, serif; font-size: 16px;line-height:20px;">
    <div class="header" style="background: #3a3b3c;color: white;padding: 13px;font-size: 20px;box-shadow: 0px 6px 4px -4px #BDBCBC;">
        Here you can find info about private projects
    </div>
    <div style="margin-top:20px;margin-bottom:20px;padding:8px;">
        I have since long time been developing my own homepages, from the beginning I created many pages in php, for example
        an combined community and portal on the web that was hosted by an Sun Solaris 11 environment running MySQL and phpNuke. 

        Since time I started creating some other projects, for example the realtime caching services for caching e-commerce pages in 
        realtime. Those projects was done long before current techology was born with for example AngularJS and node.js and such. 
    </div>
</div>
}

</div>
