﻿<!DOCTYPE html>
<html ng-app="homepageapp">
<head>
    <title>Håkan Fogelberg - toppresternade systemutvecklare</title>
    <meta charset="utf-8" />
    <link href="~/css/less/style.min.css?v=6" rel="stylesheet" type="text/css" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="systemutvecklare, systemytvecklare, itjobb">
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="~/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="~/js/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="~/js/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="~/js/angular/facebookController.min.js?v=2"></script>
    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/main")
</head>
<body>
    <div id="topinfo">
        <div class="innercontent">
            Toppresterande systemutvecklare med fokus på webben!
            <button id="contactmebutton"><a href="mailto:hakan.fogelberg@hotmail.se">Kontakta mig!</a></button>
        </div>
    </div>
    <div id="topmenu">
        <nav>
            <ol>
                @foreach (DataAccess.Page p in new DataAccess.PageContext().GetAllPages())
                {
                    if (ViewBag.CurrentPage != null && ViewBag.CurrentPage.PageID == p.PageID)
                    {
                    <li>
                        <a class="active" href="~/@p.PageName.ToLower()">@p.PageName</a>
                    </li>
                    }
                    else
                    {
                    <li>
                        <a href="~/@p.PageName.ToLower()">@p.PageName</a>
                    </li>
                    }
                }
                <li class="last"><a href="~/blog/">Blogg</a></li>
           </ol>
        </nav>
    </div>
    <div id="placeholder">
        @if (ViewBag.CurrentPage != null && ViewBag.CurrentPage.IsStartPage)
        {
        <section id="top_image">
            <img src="~/img/space.jpg" width="100%" />
        </section>
        }
        <section id="maincontent">
            @RenderBody()
        </section>
        <footer id="footer">
            @Html.Partial("Footer")
        </footer>
    </div>
</body>
</html>
