﻿@import 'mixin/funcs.less';

body {
    font-family: tahoma;
    margin: 0px 0px 0px 0px !important;
    font-size: 16px;
    /*background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);*/
    /*background-color: #131313;*/
    background-size: 20px 20px;
}

#cmscontent {
    display:inline-block;
    width:100%;
    min-height:100vh;
    .gradient(white, #e9e9e9, 0%, 100%);
}

#cms {
    #logincontainer {
        padding: 10px 0px;
    }

    #cmscontainer {
        width: 100%;
        display: inline-block;
        padding: 10px 0px;
        #pagescontainer {
            display: inline-block;
            height: 100%;

            .page_item {
                margin-top: 8px;
                background-color: black;
                .gradient(black, #333, 0%, 100%);
                padding: 10px;
                color: white;
                cursor: pointer;
                text-align: center;
                width: 200px;
            }

            .page_item a {
                color: white;
                text-decoration: none;
            }
        }

        #paragraphscontainer {
            display: inline-block;
            padding-left: 20px;
            width: ~"calc(100% - 255px);";

            .editpagesettingscontainer {
                border: 1px solid gray;
                padding: 12px;
                margin-bottom: 12px;

                input[type=text] {
                    width: 97%;
                }

                .pageheader {
                    margin-bottom: 4px;
                }
            }

            .paragraph_list {
                padding: 12px;

                .paragraphHeader {
                    margin-top: 10px;
                }
            }

            #existingParagraphsHeader {
                font-weight: bold;
                margin-top: 6px;
                margin-bottom: 8px;
            }

            #existingParagraphs {
                border: 1px solid gray;
                border-top-width: 0px;

                a {
                    color: black;
                    text-decoration: none;
                }

                .paragraph_list_first {
                    background-color: white;
                    border-top: 1px solid gray;
                    .gradient(white, #e9e9e9, 0%, 100%);
                }

                .paragraph_list_second {
                    background-color: #ececec;
                    .gradient(#e9e9e9, white, 0%, 100%);
                    border-top: 1px solid gray;
                }
            }

            .paragraph_list_edit {
                height: 40px;
            }

            .paragraph_list_add {
                margin-top: 20px;

                .paragraphHeader {
                    margin-bottom: 8px;
                }
            }

            .editPageHeader {
                color: white;
                margin-top: 8px;
                background-color: black;
                .gradient(black, #333, 0%, 100%);
                padding: 10px;
                margin-bottom: 20px;
            }
        }
    }
}

.clear {
    display: block;
    clear: both;
}

h1, .netprojects .header {
    font-size: 1.3em;
    text-transform: uppercase;
    color: white;
    padding: 13px;
    font-size: 20px;
    box-shadow: 0px 6px 4px -4px #BDBCBC;
    .gradient(#424242, #696969, 0%, 100%);
}

h2 {
    font-size: 1em;
}

input[type=text], textarea {
    width: 100%;
}

textarea {
    min-height: 100px;
}

a {
    color: #336699
}

aside {
    display: inline-block;
    vertical-align: top;
}

#topmenu {
    width: 100%;
    background-color: white; /*box-shadow: 0px 6px 4px -4px #BDBCBC;*/
    border-bottom: 4px solid #444;
    z-index: 1;
    position: relative;
    .gradient(white, #e8e8e8, 0%, 100%);
    -webkit-border-image: -webkit-gradient(left top,right top,color-stop(-25%,#1f1f1f),color-stop(51%,#757575),color-stop(125%,#1f1f1f)) 1 2;
    -o-border-image: -o-linear-gradient(left,#1f1f1f -25%,#757575 51%,#1f1f1f 125%) 1 2;
    border-image: linear-gradient(to right,#1f1f1f -25%,#757575 51%,#1f1f1f 125%) 1 2;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

#topmenu nav {
    margin-bottom: 0px;
    display: block;
    width: 1250px;
    margin: 0px auto;
    padding: 2px;
}

#topmenu nav ol {
    list-style-type: none;
    padding: 0px;
}

#topmenu nav li {
    display: inline-block;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    cursor: pointer;
    color: #5E5E5E;
}

#topmenu li:after {
    content: '|';
    margin: 0px 12px 0px 12px;
}

#topmenu li.last:after {
    display: none;
}

#topmenu nav li a {
    cursor: pointer;
    color: #222;
    text-decoration: none;
}

#topmenu nav li a.active {
    font-weight: bold;
    text-decoration: underline;
}

/*#topinfo {
    .gradient(rgba(51, 95, 216, 0.3), rgba(17, 53, 154, 0.5), 0%, 100%);
    width: 100%;
    height: 115px;
}*/

#top_image {
    width: 1291px;
    margin: 0 auto;
    border-bottom: 2px solid #444;
}

#top_image img {
    height: 310px; // tillfällig lösning
}

#topinfo .innercontent {
    width: 1250px;
    margin: 0px auto;
    padding-top: 40px;
    font-size: 32px;
    color: white;
    font-family: georgia;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
}

#placeholder {
    display: block;
    margin-top: 0px;
    padding-top: 18px;
}

#maincontent {
    width: 1250px;
    margin: 0px auto;
    padding: 6px 20px;
    background-color: white;
    /*box-shadow: 0px 9px 4px -7px #929292;
    margin-bottom: 32px;*/
    border: 2px solid #515151;
    z-index: 0;
    position: relative;
}

aside.bigcontentcontainer {
    width: 922px;
    color: #555;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 26px;
    padding-right: 12px;
    padding-bottom: 30px;
}

aside.bigcontentcontainer a {
    padding: 8px;
    color: #555;
    padding-bottom: 4px;
    display: block;
}

aside.bigcontentcontainer a:before {
    content: '';
    padding: 1px;
    margin-right: 10px;
    background-color: #336699;
    padding: 0px 8px 0px 8px;
}

aside.bigcontentcontainerglob {
    width: 99%;
}

input[type=button], input[type=submit], input[type=text] {
    padding: 12px;
}

input[type=text], input[type=number], textarea {
    margin-bottom: 8px;
}

.blogpost .blogingress {
    margin-top: 6px;
}

#footer {
    width: 1290px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #000;
    .gradient(darken(#5a5a5a, 0%), darken(#292828, 0%), 0%, 100%);
}

#footer #data {
    margin: 0px auto;
    text-align: center;
    font-size: 18px;
    /*padding-top: 12px;*/
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 15px; /*box-shadow: 0px 6px 4px -4px #BDBCBC;*/
    /*border-top: 4px solid #444444;*/
}

#contactmebutton {
    float: right;
    padding: 10px 16px;
    border: 1px solid #777;
    background-color: #d2d2d2;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 14px;
    .gradient(#ffffff, #b1acac, 0%, 100%);
    a { color:black;text-decoration:none; }
}

/* startpage */
#startpage img {
    width: 280px;
    box-shadow: -4px 9px 4px -6px #929292;
}

.facebook_status_container h2 {
    text-transform: uppercase;
    margin-top: 24px;
}

.facebook_status_container_item .createdtime {
    font-size: 14px;
    margin-bottom: 4px;
    font-style: italic;
}

.facebook_status_container_item .message {
    padding: 8px;
    background-color: #ececec;
    color: black;
    margin-bottom: 17px;
    border: 1px dashed #5f5f5f;
    width: 270px;
    box-shadow: 0px 6px 4px -4px #BDBCBC;
    font-size: 15px;
    .gradient(#ffffff, #e9e9e9, 0%, 100%);
}

@media(min-width:1000px) and (max-width:1299px) {
    #maincontent, #topinfo .innercontent, #topmenu nav {
        width: 950px;
    }

    aside.bigcontentcontainer {
        width: 640px;
    }

    #topinfo .innercontent {
        font-size: 30px;
    }
}

@media(min-width:768px) and (max-width:999px) {
    #maincontent, #topinfo .innercontent, #topmenu nav {
        width: 720px;
    }

    aside.bigcontentcontainer {
        width: 410px;
    }

    #contactmebutton {
        display: none;
    }

    #topinfo .innercontent {
        font-size: 27px;
    }
}

@media(max-width:767px) {
    #maincontent, #topinfo .innercontent, #topmenu nav {
        width: 100%;
    }

    aside.bigcontentcontainer {
        width: 96%;
    }

    #startpage img {
        width: 96%;
    }

    .facebook_status_container_item .message {
        width: ~"calc(96% - 16px)";
    }

    .netprojects {
        width: 96%;
    }

    #contactmebutton {
        display: none;
    }

    #topinfo {
        height: auto;
    }

    #topinfo .innercontent {
        width: 100%;
        padding: 3vw;
        font-size: 5vw;
    }

    #topmenu {
        display: none;
    }
    /* lägg in bootstrap och visa denna istället */
}
