﻿/***********************************************************************************************
    Mixin funcs style for custom mixin functions used by the homepage.
    Created by: Håkan Fogelberg
    Last updated: 2017-08-04
***********************************************************************************************/
body {
  font-family: tahoma;
  margin: 0px 0px 0px 0px !important;
  font-size: 16px;
  background: -moz-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: linear-gradient(to bottom, white 0%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@fromColor', endColorstr='@toColor', GradientType=0);
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}
.clear {
  display: block;
  clear: both;
}
h1,
.netprojects .header {
  font-size: 1.3em;
  text-transform: uppercase;
  color: white;
  padding: 13px;
  font-size: 20px;
  box-shadow: 0px 6px 4px -4px #BDBCBC;
  background: -moz-linear-gradient(top, #424242 0%, #696969 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #424242), color-stop(100%, #696969));
  background: -webkit-linear-gradient(top, #424242 0%, #696969 100%);
  background: -o-linear-gradient(top, #424242 0%, #696969 100%);
  background: -ms-linear-gradient(top, #424242 0%, #696969 100%);
  background: linear-gradient(to bottom, #424242 0%, #696969 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@fromColor', endColorstr='@toColor', GradientType=0);
}
h2 {
  font-size: 1em;
}
input[type=text],
textarea {
  width: 100%;
}
textarea {
  min-height: 100px;
}
a {
  color: #336699;
}
aside {
  display: inline-block;
  vertical-align: top;
}
#topmenu {
  width: 100%;
  background-color: white;
  /*box-shadow: 0px 6px 4px -4px #BDBCBC;*/
  border-bottom: 4px solid #444;
  z-index: 1;
  position: relative;
  background: -moz-linear-gradient(top, white 0%, #e8e8e8 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(100%, #e8e8e8));
  background: -webkit-linear-gradient(top, white 0%, #e8e8e8 100%);
  background: -o-linear-gradient(top, white 0%, #e8e8e8 100%);
  background: -ms-linear-gradient(top, white 0%, #e8e8e8 100%);
  background: linear-gradient(to bottom, white 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@fromColor', endColorstr='@toColor', GradientType=0);
  -webkit-border-image: -webkit-gradient(left top, right top, color-stop(-25%, #1f1f1f), color-stop(51%, #757575), color-stop(125%, #1f1f1f)) 1 2;
  -o-border-image: -o-linear-gradient(left, #1f1f1f -25%, #757575 51%, #1f1f1f 125%) 1 2;
  border-image: linear-gradient(to right, #1f1f1f -25%, #757575 51%, #1f1f1f 125%) 1 2;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#topmenu nav {
  margin-bottom: 0px;
  display: block;
  width: 1250px;
  margin: 0px auto;
  padding: 2px;
}
#topmenu nav ol {
  list-style-type: none;
  padding: 0px;
}
#topmenu nav li {
  display: inline-block;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  cursor: pointer;
  color: #5E5E5E;
}
#topmenu li:after {
  content: '|';
  margin: 0px 12px 0px 12px;
}
#topmenu li.last:after {
  display: none;
}
#topmenu nav li a {
  cursor: pointer;
  color: #222;
  text-decoration: none;
}
#topmenu nav li a.active {
  font-weight: bold;
  text-decoration: underline;
}
#topinfo {
  background: -moz-linear-gradient(top, rgba(51, 95, 216, 0.3) 0%, rgba(17, 53, 154, 0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51, 95, 216, 0.3)), color-stop(100%, rgba(17, 53, 154, 0.5)));
  background: -webkit-linear-gradient(top, rgba(51, 95, 216, 0.3) 0%, rgba(17, 53, 154, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(51, 95, 216, 0.3) 0%, rgba(17, 53, 154, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(51, 95, 216, 0.3) 0%, rgba(17, 53, 154, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(51, 95, 216, 0.3) 0%, rgba(17, 53, 154, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@fromColor', endColorstr='@toColor', GradientType=0);
  width: 100%;
  height: 115px;
}
#top_image {
  width: 1291px;
  margin: 0 auto;
  border-bottom: 2px solid #444;
}
#top_image img {
  height: 310px;
}
#topinfo .innercontent {
  width: 1250px;
  margin: 0px auto;
  padding-top: 40px;
  font-size: 32px;
  color: white;
  font-family: georgia;
  font-style: italic;
  text-shadow: 2px 2px 2px black;
}
#placeholder {
  display: block;
  margin-top: 0px;
  padding-top: 18px;
}
#maincontent {
  width: 1250px;
  margin: 0px auto;
  padding: 6px 20px;
  background-color: white;
  min-height: 500px;
  /*box-shadow: 0px 9px 4px -7px #929292;
    margin-bottom: 32px;*/
  z-index: 0;
  position: relative;
}
aside.bigcontentcontainer {
  width: 922px;
  color: #555;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 26px;
  padding-right: 12px;
  padding-bottom: 30px;
}
aside.bigcontentcontainer a {
  padding: 8px;
  color: #555;
  padding-bottom: 4px;
  display: block;
}
aside.bigcontentcontainer a:before {
  content: '';
  padding: 1px;
  margin-right: 10px;
  background-color: #336699;
  padding: 0px 8px 0px 8px;
}
aside.bigcontentcontainerglob {
  width: 99%;
}
input[type=button] {
  padding: 12px;
}
input[type=text],
input[type=number],
textarea {
  margin-bottom: 8px;
}
.blogpost .blogingress {
  margin-top: 6px;
}
#footer {
  width: 1290px;
  margin: 0 auto;
  margin-top: 0px;
  background-color: #000;
  background: -moz-linear-gradient(top, #5a5a5a 0%, #292828 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #5a5a5a), color-stop(100%, #292828));
  background: -webkit-linear-gradient(top, #5a5a5a 0%, #292828 100%);
  background: -o-linear-gradient(top, #5a5a5a 0%, #292828 100%);
  background: -ms-linear-gradient(top, #5a5a5a 0%, #292828 100%);
  background: linear-gradient(to bottom, #5a5a5a 0%, #292828 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@fromColor', endColorstr='@toColor', GradientType=0);
}
#footer #data {
  margin: 0px auto;
  text-align: center;
  font-size: 18px;
  padding-top: 12px;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 15px;
  /*box-shadow: 0px 6px 4px -4px #BDBCBC;*/
  border-top: 4px solid #444444;
}
#contactmebutton {
  float: right;
  padding: 10px 16px;
  border: 1px solid #777;
  background-color: #d2d2d2;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 14px;
  background: -moz-linear-gradient(top, #ffffff 0%, #b1acac 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #b1acac));
  background: -webkit-linear-gradient(top, #ffffff 0%, #b1acac 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #b1acac 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #b1acac 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #b1acac 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@fromColor', endColorstr='@toColor', GradientType=0);
}
#contactmebutton a {
  color: black;
  text-decoration: none;
}
/* startpage */
#startpage img {
  width: 280px;
  box-shadow: -4px 9px 4px -6px #929292;
}
.facebook_status_container h2 {
  text-transform: uppercase;
  margin-top: 24px;
}
.facebook_status_container_item .createdtime {
  font-size: 14px;
  margin-bottom: 4px;
  font-style: italic;
}
.facebook_status_container_item .message {
  padding: 8px;
  background-color: #ececec;
  color: black;
  margin-bottom: 17px;
  border: 1px dashed #5f5f5f;
  width: 270px;
  box-shadow: 0px 6px 4px -4px #BDBCBC;
  font-size: 15px;
  background: -moz-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@fromColor', endColorstr='@toColor', GradientType=0);
}
@media (min-width: 1000px) and (max-width: 1299px) {
  #maincontent,
  #topinfo .innercontent,
  #topmenu nav {
    width: 950px;
  }
  aside.bigcontentcontainer {
    width: 640px;
  }
  #topinfo .innercontent {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  #maincontent,
  #topinfo .innercontent,
  #topmenu nav {
    width: 720px;
  }
  aside.bigcontentcontainer {
    width: 410px;
  }
  #contactmebutton {
    display: none;
  }
  #topinfo .innercontent {
    font-size: 27px;
  }
}
@media (max-width: 767px) {
  #maincontent,
  #topinfo .innercontent,
  #topmenu nav {
    width: 100%;
  }
  aside.bigcontentcontainer {
    width: 96%;
  }
  #startpage img {
    width: 96%;
  }
  .facebook_status_container_item .message {
    width: calc(96% - 16px);
  }
  .netprojects {
    width: 96%;
  }
  #contactmebutton {
    display: none;
  }
  #topinfo {
    height: auto;
  }
  #topinfo .innercontent {
    width: 100%;
    padding: 3vw;
    font-size: 5vw;
  }
  #topmenu {
    display: none;
  }
  /* lägg in bootstrap och visa denna istället */
}