﻿
<!DOCTYPE html>
<html>
<head>
    <title>Rhythm &mdash; One & Multi Page Creative Theme</title>
    <meta name="description" content="Michaela Oracova">
    <meta name="keywords" content="Michaela Oracova">
    <meta name="author" content="Michaela Oracova">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/michaela_style.css" rel="stylesheet" />
    <!--
    <link rel="stylesheet" href="http://rhythm.bestlooker.pro/css/style-responsive.css">
    <link rel="stylesheet" href="http://rhythm.bestlooker.pro/css/vertical-rhythm.min.css">
    <link rel="stylesheet" href="http://rhythm.bestlooker.pro/css/magnific-popup.css">-->
</head>
<body class="appear-animate">
    <!-- Page Loader -->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->
    <!-- Page Wrap -->
    <div class="page" id="top">
        <!-- Home Section -->
        <section class="home-section bg-dark-alfa-30 parallax-2" data-background="http://rhythm.bestlooker.pro/images/full-width-images/section-bg-1.jpg" id="home">
            <div class="js-height-full container">
                <!-- Hero Content -->
                <div class="home-content">
                    <div class="home-text">
                        <h1 class="hs-line-1 font-alt mb-80 mb-xs-30 mt-70 mt-sm-0">
                            Michaela Oracova
                        </h1>
                        <div class="hs-line-6">
                            Extraordinary art director &&nbsp;creative minimalism lover
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home Section -->
        <!-- Navigation panel -->
        <nav class="main-nav dark transparent stick-fixed">
            <div class="full-wrapper relative clearfix">
                <!-- Logo ( * your text or image into link tag *) -->
                <div class="nav-logo-wrap local-scroll">
                    <a href="#top" class="logo">
                        <img src="http://rhythm.bestlooker.pro/images/logo-white.png" alt="" />
                    </a>
                </div>
                <div class="mobile-nav">
                    <i class="fa fa-bars"></i>
                </div>
                <!-- Main Menu -->
                <div class="inner-nav desktop-nav">
                    <ul class="clearlist scroll-nav local-scroll">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#news">News</a></li>
                        <li><a href="#contact">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navigation panel -->
        <!-- About Section -->
        <section class="page-section" id="about">
            <div class="container relative">
                <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                    About Studio
                </h2>
                <div class="section-text mb-50 mb-sm-20">
                    <div class="row">
                        <div class="col-md-4">
                            <blockquote>
                                <p>
                                    Design is&nbsp;not making beauty, beauty emerges from selection, affinities, integration, love.
                                </p>
                                <footer>
                                    Louis Kahn
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper metus pellentesque mattis. Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.
                        </div>
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet, iaculis libero. Donec vel ultricies purus. Nam dictum sem, eu aliquam.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Team item -->
                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                        <div class="team-item">
                            <div class="team-item-image">
                                <img src="images/team/team-1.jpg" alt="" />
                                <div class="team-item-detail">
                                    <h4 class="font-alt normal">Hello & Welcome!</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.
                                    </p>
                                    <div class="team-social-links">
                                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="team-item-descr font-alt">
                                <div class="team-item-name">
                                    Thomas Rhythm
                                </div>
                                <div class="team-item-role">
                                    Art Director
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Team item -->
                    <!-- Team item -->
                    <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <div class="team-item-image">
                                <img src="images/team/team-2.jpg" alt="" />
                                <div class="team-item-detail">
                                    <h4 class="font-alt normal">Nice to meet!</h4>
                                    <p>
                                        Curabitur augue, nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique porta.
                                    </p>
                                    <div class="team-social-links">
                                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-descr font-alt">
                                <div class="team-item-name">
                                    Marta Laning
                                </div>
                                <div class="team-item-role">
                                    Web engineer
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Team item -->
                    <!-- Team item -->
                    <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item">
                            <div class="team-item-image">
                                <img src="images/team/team-3.jpg" alt="" />
                                <div class="team-item-detail">
                                    <h4 class="font-alt normal">Whats Up!</h4>
                                    <p>
                                        Adipiscing elit curabitur eu&nbsp;adipiscing lacus eu&nbsp;adipiscing lacus, a&nbsp;iaculis diam.
                                    </p>
                                    <div class="team-social-links">
                                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-descr font-alt">
                                <div class="team-item-name">
                                    Steve ANDERS
                                </div>
                                <div class="team-item-role">
                                    Developer
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Team item -->
                </div>
            </div>
        </section>
        <!-- End About Section -->
        <!-- Divider -->
        <hr class="mt-0 mb-0 " />
        <!-- End Divider -->
        <!-- Services Section -->
        <section class="page-section" id="services">
            <div class="container relative">
                <h2 class="section-title font-alt mb-70 mb-sm-40">
                    Services
                </h2>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
                    <li class="active">
                        <a href="#service-branding" data-toggle="tab">

                            <div class="alt-tabs-icon">
                                <span class="icon-strategy"></span>
                            </div>

                            Branding
                        </a>
                    </li>
                    <li>
                        <a href="#service-web-design" data-toggle="tab">

                            <div class="alt-tabs-icon">
                                <span class="icon-desktop"></span>
                            </div>

                            Web Design
                        </a>
                    </li>
                    <li>
                        <a href="#service-graphic" data-toggle="tab">

                            <div class="alt-tabs-icon">
                                <span class="icon-tools"></span>
                            </div>

                            Graphic Design
                        </a>
                    </li>
                    <li>
                        <a href="#service-development" data-toggle="tab">

                            <div class="alt-tabs-icon">
                                <span class="icon-gears"></span>
                            </div>

                            Development
                        </a>
                    </li>
                    <li>
                        <a href="#service-photography" data-toggle="tab">

                            <div class="alt-tabs-icon">
                                <span class="icon-camera"></span>
                            </div>

                            Photography
                        </a>
                    </li>
                </ul>
                <!-- End Nav tabs -->
                <!-- Tab panes -->
                <div class="tab-content tpl-tabs-cont">

                    <!-- Service Item -->
                    <div class="tab-pane fade in active" id="service-branding">

                        <div class="section-text">
                            <div class="row">
                                <div class="col-md-4 mb-md-40 mb-xs-30">
                                    <blockquote class="mb-0">
                                        <p>
                                            A&nbsp;brand for a&nbsp;company is&nbsp;like a&nbsp;reputation
                                            for a&nbsp;person. You earn reputation by&nbsp;trying to&nbsp;do&nbsp;hard
                                            things well.
                                        </p>
                                        <footer>
                                            Jeff Bezos
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                                    volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                                    In maximus ligula metus pellentesque mattis.
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus.
                                    Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus.
                                    Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Service Item -->
                    <!-- Service Item -->
                    <div class="tab-pane fade" id="service-web-design">

                        <div class="section-text">
                            <div class="row">
                                <div class="col-md-4 mb-md-40 mb-xs-30">
                                    <blockquote class="mb-0">
                                        <p>
                                            It&nbsp;doesn&rsquo;t matter how many times&nbsp;I have to&nbsp;click, as&nbsp;long
                                            as&nbsp;each click is&nbsp;a&nbsp;mindless, unambiguous choice.
                                        </p>
                                        <footer>
                                            Steve Krug
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    Cras mi tortor, laoreet id ornare et, accumsan non magna. Maecenas vulputate accumsan velit.
                                    Curabitur a nulla ex. Nam a tincidunt ante. Vitae gravida turpis. Vestibulum varius
                                    nulla non nulla scelerisque tristique.
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    Mauris id viverra augue, eu porttitor diam. Praesent faucibus est a interdum elementum.
                                    Nam varius at ipsum id dignissim. Nam a tincidunt ante lorem. Pellentesque suscipit ante
                                    at ullamcorper pulvinar neque porttitor.
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Service Item -->
                    <!-- Service Item -->
                    <div class="tab-pane fade" id="service-graphic">

                        <div class="section-text">
                            <div class="row">
                                <div class="col-md-4 mb-md-40 mb-xs-30">
                                    <blockquote class="mb-0">
                                        <p>
                                            Never fall in&nbsp;love with an&nbsp;idea. They&rsquo;re whores. If&nbsp;the one you&rsquo;re with isn&rsquo;t doing the job, there&rsquo;s always another.
                                        </p>
                                        <footer>
                                            Chip Kidd
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. In maximus ligula metus pellentesque
                                    mattis. Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Praesent sed nisi eleifend,
                                    fermentum orci amet, iaculis libero.
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">

                                    Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Etiam sit amet
                                    fringilla lacus. Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id&nbsp;dolor
                                    consectetur fermentum volutpat nibh, accumsan purus.
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Service Item -->
                    <!-- Service Item -->
                    <div class="tab-pane fade" id="service-development">

                        <div class="section-text">
                            <div class="row">
                                <div class="col-md-4 mb-md-40 mb-xs-30">
                                    <blockquote class="mb-0">
                                        <p>
                                            All that is&nbsp;valuable in&nbsp;human society depends upon the opportunity for development accorded the individual.
                                        </p>
                                        <footer>
                                            Albert Einstein
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    Fusce hendrerit vitae nunc id gravida. Donec euismod quis ante at mattis. Mauris dictum ante sit
                                    amet enim interdum semper. Vestibulum odio justo, faucibus et dictum eu, malesuada nec neque.
                                    Maecenas  volutpat, diam enim sagittis.
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Sed id dolor consectetur fermentum
                                    volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                                    Inmed maximus ligula metus pellentesque.
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Service Item -->
                    <!-- Service Item -->
                    <div class="tab-pane fade" id="service-photography">

                        <div class="section-text">
                            <div class="row">
                                <div class="col-md-4 mb-md-40 mb-xs-30">
                                    <blockquote class="mb-0">
                                        <p>
                                            Photography is&nbsp;the simplest thing in&nbsp;the world, but it&nbsp;is&nbsp;incredibly
                                            complicated to&nbsp;make it&nbsp;really work.
                                        </p>
                                        <footer>
                                            Martin Parr
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus.
                                    Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus.
                                    Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                                    volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                                    In maximus ligula metus pellentesque mattis.
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Service Item -->

                </div>
                <!-- End Tab panes -->

            </div>
        </section>
        <!-- End Services Section -->
        <!-- Call Action Section -->
        <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="http://rhythm.bestlooker.pro/images/full-width-images/section-bg-2.jpg">
            <div class="container relative">
                <div class="row">
                    <div class="col-sm-6">

                        <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                            <div class="banner-content">
                                <h3 class="banner-heading font-alt">Looking for exclusive digital services?</h3>
                                <div class="banner-decription">
                                    Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.
                                    Integer non dapibus diam, ac eleifend lectus.
                                </div>
                                <div class="local-scroll">
                                    <a href="#contact" class="btn btn-mod btn-w btn-medium btn-round">Lets talk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 banner-image wow fadeInUp">
                        <img src="images/promo-1.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <!-- End Call Action Section -->
        <!-- Portfolio Section -->
        <section class="page-section pb-0" id="portfolio">
            <div class="relative">
                <h2 class="section-title font-alt mb-70 mb-sm-40">
                    Portfolio
                </h2>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="section-text align-center mb-70 mb-xs-40">
                                In&nbsp;auctor ex&nbsp;id&nbsp;urna faucibus porttitor. Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. In&nbsp;maximus ligula semper metus pellentesque mattis.
                                Maecenas volutpat, diam enim sagittis quam, id&nbsp;porta quam. Sed id&nbsp;dolor
                                consectetur fermentum nibh volutpat, accumsan purus.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Works Filter -->
                <div class="works-filter font-alt align-center">
                    <a href="#" class="filter active" data-filter="*">All works</a>
                    <a href="#branding" class="filter" data-filter=".branding">Branding</a>
                    <a href="#design" class="filter" data-filter=".design">Design</a>
                    <a href="#photography" class="filter" data-filter=".photography">Photography</a>
                </div>
                <!-- End Works Filter -->
                <!-- Works Grid -->
                <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">
                    <!-- Work Item (Lightbox) -->
                    <li class="work-item mix photography">
                        <a href="http://rhythm.bestlooker.pro/images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                            <div class="work-img">
                                <img src="http://rhythm.bestlooker.pro/images/portfolio/projects-1.jpg" alt="Work" />
                            </div>
                            <div class="work-intro">
                                <h3 class="work-title">Portrait</h3>
                                <div class="work-descr">
                                    Lightbox
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- End Work Item -->
                    <!-- Work Item (External Page) -->
                    <li class="work-item mix branding design">
                        <a href="portfolio-single-1.html" class="work-ext-link">
                            <div class="work-img">
                                <img class="work-img" src="http://rhythm.bestlooker.pro/images/portfolio/projects-2.jpg" alt="Work" />
                            </div>
                            <div class="work-intro">
                                <h3 class="work-title">Vase 3D</h3>
                                <div class="work-descr">
                                    External Page
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- End Work Item -->
                    <!-- Work Item (External Page) -->
                    <li class="work-item mix branding">
                        <a href="portfolio-single-1.html" class="work-ext-link">
                            <div class="work-img">
                                <img class="work-img" src="http://rhythm.bestlooker.pro/images/portfolio/projects-3.jpg" alt="Work" />
                            </div>
                            <div class="work-intro">
                                <h3 class="work-title">Boy in T-shirt</h3>
                                <div class="work-descr">
                                    External Page
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- End Work Item -->
                    <!-- Work Item (External Page) -->
                    <li class="work-item mix design photography">
                        <a href="portfolio-single-1.html" class="work-ext-link">
                            <div class="work-img">
                                <img class="work-img" src="http://rhythm.bestlooker.pro/images/portfolio/projects-4.jpg" alt="Work" />
                            </div>
                            <div class="work-intro">
                                <h3 class="work-title">Space</h3>
                                <div class="work-descr">
                                    External Page
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- End Work Item -->
                    <!-- Work Item (External Page) -->
                    <li class="work-item mix design">
                        <a href="portfolio-single-1.html" class="work-ext-link">
                            <div class="work-img">
                                <img class="work-img" src="http://rhythm.bestlooker.pro/images/portfolio/projects-5.jpg" alt="Work" />
                            </div>
                            <div class="work-intro">
                                <h3 class="work-title">Model</h3>
                                <div class="work-descr">
                                    External Page
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- End Work Item -->
                    <!-- Work Item (Lightbox) -->
                    <li class="work-item mix design branding">
                        <a href="images/portfolio/full-project-3.jpg" class="work-lightbox-link mfp-image">
                            <div class="work-img">
                                <img src="http://rhythm.bestlooker.pro/images/portfolio/projects-6.jpg" alt="Work" />
                            </div>
                            <div class="work-intro">
                                <h3 class="work-title">Young Man</h3>
                                <div class="work-descr">
                                    Lightbox
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- End Work Item -->
                </ul>
                <!-- End Works Grid -->
            </div>
        </section>
        <!-- End Portfolio Section -->
        <!-- Call Action Section -->
        <section class="small-section bg-dark">
            <div class="container relative">
                <div class="align-center">
                    <h3 class="banner-heading font-alt">Like Our Creative Works?</h3>
                    <div class="local-scroll">
                        <a href="#contact" class="btn btn-mod btn-w btn-medium btn-round">Start Project</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Call Action Section -->
        <!-- Features Section -->
        <section class="page-section">
            <div class="container relative">
                <h2 class="section-title font-alt mb-70 mb-sm-40">
                    Why Choose Us?
                </h2>
                <!-- Features Grid -->
                <div class="row multi-columns-row alt-features-grid">

                    <!-- Features Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="alt-features-item align-center">
                            <div class="alt-features-icon">
                                <span class="icon-flag"></span>
                            </div>
                            <h3 class="alt-features-title font-alt">We’re Creative</h3>
                            <div class="alt-features-descr align-left">
                                Lorem ipsum dolor sit amet, c-r adipiscing elit.
                                In maximus ligula semper metus pellentesque mattis.
                                Maecenas  volutpat, diam enim.
                            </div>
                        </div>
                    </div>
                    <!-- End Features Item -->
                    <!-- Features Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="alt-features-item align-center">
                            <div class="alt-features-icon">
                                <span class="icon-clock"></span>
                            </div>
                            <h3 class="alt-features-title font-alt">We’re Punctual</h3>
                            <div class="alt-features-descr align-left">
                                Proin fringilla augue at maximus vestibulum.
                                Nam pulvinar vitae neque et porttitor. Praesent sed
                                nisi eleifend, lorem fermentum orci sit amet, iaculis libero.
                            </div>
                        </div>
                    </div>
                    <!-- End Features Item -->
                    <!-- Features Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="alt-features-item align-center">
                            <div class="alt-features-icon">
                                <span class="icon-hotairballoon"></span>
                            </div>
                            <h3 class="alt-features-title font-alt">We have magic</h3>
                            <div class="alt-features-descr align-left">
                                Curabitur iaculis accumsan augue, nec finibus mauris pretium eu.
                                Duis placerat ex gravida nibh tristique porta. Nulla facilisi.
                                Suspendisse ultricies eros blandit.
                            </div>
                        </div>
                    </div>
                    <!-- End Features Item -->
                    <!-- Features Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="alt-features-item align-center">
                            <div class="alt-features-icon">
                                <span class="icon-heart"></span>
                            </div>
                            <h3 class="alt-features-title font-alt">We love minimalism</h3>
                            <div class="alt-features-descr align-left">
                                Cras luctus interdum sodales. Quisque quis odio dui. Sedes sit
                                amet neque malesuada, lobortis  commodo magna ntesque pharetra
                                metus vivera sagittis.
                            </div>
                        </div>
                    </div>
                    <!-- End Features Item -->
                    <!-- Features Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="alt-features-item align-center">
                            <div class="alt-features-icon">
                                <span class="icon-linegraph"></span>
                            </div>
                            <h3 class="alt-features-title font-alt">We’re responsible</h3>
                            <div class="alt-features-descr align-left">
                                Fusce aliquet quam eget neque ultrices elementum. Nulla posuere
                                felis id arcu blandit sagittis. Eleifender vestibulum purus, sit
                                amet vulputate risus.
                            </div>
                        </div>
                    </div>
                    <!-- End Features Item -->
                    <!-- Features Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="alt-features-item align-center">
                            <div class="alt-features-icon">
                                <span class="icon-chat"></span>
                            </div>
                            <h3 class="alt-features-title font-alt">We're Friendly</h3>
                            <div class="alt-features-descr align-left">
                                Pulvinar vitae neque et porttitor. Integer non dapibus diam, ac
                                eleifend lectus. Praesent sed nisi eleifend, fermentum orci sit
                                amet, iaculis libero interdum.
                            </div>
                        </div>
                    </div>
                    <!-- End Features Item -->
                </div>
                <!-- End Features Grid -->
            </div>
        </section>
        <!-- End Features Section -->
        <!-- Testimonials Section -->
        <section class="page-section bg-dark bg-dark-alfa-90 fullwidth-slider" data-background="http://rhythm.bestlooker.pro/images/full-width-images/section-bg-3.jpg">
            <!-- Slide Item -->
            <div>
                <div class="container relative">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 align-center">
                            <!-- Section Icon -->
                            <div class="section-icon">
                                <span class="icon-quote"></span>
                            </div>
                            <!-- Section Title --><h3 class="small-title font-alt">What people say?</h3>
                            <blockquote class="testimonial white">
                                <p>
                                    Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue,
                                    risus utaliquam dapibus. Thanks!
                                </p>
                                <footer class="testimonial-author">
                                    John Doe, doodle inc.
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Slide Item -->
            <!-- Slide Item -->
            <div>
                <div class="container relative">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 align-center">
                            <!-- Section Icon -->
                            <div class="section-icon">
                                <span class="icon-quote"></span>
                            </div>
                            <!-- Section Title --><h3 class="small-title font-alt">What people say?</h3>
                            <blockquote class="testimonial white">
                                <p>
                                    Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue,
                                    risus utaliquam dapibus. Thanks!
                                </p>
                                <footer class="testimonial-author">
                                    John Doe, doodle inc.
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Slide Item -->
            <!-- Slide Item -->
            <div>
                <div class="container relative">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 align-center">
                            <!-- Section Icon -->
                            <div class="section-icon">
                                <span class="icon-quote"></span>
                            </div>
                            <!-- Section Title --><h3 class="small-title font-alt">What people say?</h3>
                            <blockquote class="testimonial white">
                                <p>
                                    Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue,
                                    risus utaliquam dapibus. Thanks!
                                </p>
                                <footer class="testimonial-author">
                                    John Doe, doodle inc.
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Slide Item -->

        </section>
        <!-- End Testimonials Section -->
        <!-- Blog Section -->
        <section class="page-section" id="news">
            <div class="container relative">

                <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                    Latest News

                    <a href="blog-classic-sidebar-right.html" class="section-more right">All News in our blog <i class="fa fa-angle-right"></i></a>

                </h2>

                <div class="row multi-columns-row">

                    <!-- Post Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">

                        <div class="post-prev-img">
                            <a href="blog-single-sidebar-right.html"><img src="http://rhythm.bestlooker.pro/images/blog/post-prev-1.jpg" alt="" /></a>
                        </div>

                        <div class="post-prev-title font-alt">
                            <a href="">New Web Design Trends</a>
                        </div>

                        <div class="post-prev-info font-alt">
                            <a href="">John Doe</a> | 10 December
                        </div>

                        <div class="post-prev-text">
                            Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                            consectetur fermentum nibh volutpat, accumsan purus.
                        </div>

                        <div class="post-prev-more">
                            <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                        </div>

                    </div>
                    <!-- End Post Item -->
                    <!-- Post Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">

                        <div class="post-prev-img">
                            <a href="blog-single-sidebar-right.html"><img src="http://rhythm.bestlooker.pro/images/blog/post-prev-2.jpg" alt="" /></a>
                        </div>

                        <div class="post-prev-title font-alt">
                            <a href="">Minimalistic Design Forever</a>
                        </div>

                        <div class="post-prev-info font-alt">
                            <a href="">John Doe</a> | 9 December
                        </div>

                        <div class="post-prev-text">
                            Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                            consectetur fermentum nibh volutpat, accumsan purus.
                        </div>

                        <div class="post-prev-more">
                            <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                        </div>

                    </div>
                    <!-- End Post Item -->
                    <!-- Post Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.3s" data-wow-duration="2s">

                        <div class="post-prev-img">
                            <a href="blog-single-sidebar-right.html"><img src="http://rhythm.bestlooker.pro/images/blog/post-prev-3.jpg" alt="" /></a>
                        </div>

                        <div class="post-prev-title font-alt">
                            <a href="">Hipster&rsquo;s Style in&nbsp;Web</a>
                        </div>

                        <div class="post-prev-info font-alt">
                            <a href="">John Doe</a> | 7 December
                        </div>

                        <div class="post-prev-text">
                            Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                            consectetur fermentum nibh volutpat, accumsan purus.
                        </div>

                        <div class="post-prev-more">
                            <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                        </div>

                    </div>
                    <!-- End Post Item -->

                </div>

            </div>
        </section>
        <!-- End Blog Section -->
        <!-- Newsletter Section -->
        <section class="small-section bg-gray-lighter">
            <div class="container relative">

                <form class="form align-center" id="mailchimp">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            <div class="newsletter-label font-alt">
                                Stay informed with our newsletter
                            </div>

                            <div class="mb-20">
                                <input placeholder="Enter Your Email" class="newsletter-field form-control input-md round mb-xs-10" type="email" pattern=".{5,100}" required />

                                <button type="submit" class="btn btn-mod btn-medium btn-round mb-xs-10">
                                    Subscribe
                                </button>
                            </div>

                            <div class="form-tip">
                                <i class="fa fa-info-circle"></i> Please trust us, we will never send you spam
                            </div>

                            <div id="subscribe-result"></div>

                        </div>
                    </div>
                </form>

            </div>
        </section>
        <!-- End Newsletter Section -->
        <!-- Contact Section -->
        <section class="page-section" id="contact">
            <div class="container relative">

                <h2 class="section-title font-alt mb-70 mb-sm-40">
                    Contact
                </h2>

                <div class="row mb-60 mb-xs-40">

                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">

                            <!-- Phone -->
                            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                <div class="contact-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="ci-title font-alt">
                                        Call Us
                                    </div>
                                    <div class="ci-text">
                                        +61 3 8376 6284
                                    </div>
                                </div>
                            </div>
                            <!-- End Phone -->
                            <!-- Address -->
                            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                <div class="contact-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="ci-title font-alt">
                                        Address
                                    </div>
                                    <div class="ci-text">
                                        245 Quigley Blvd, Ste K
                                    </div>
                                </div>
                            </div>
                            <!-- End Address -->
                            <!-- Email -->
                            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                <div class="contact-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="ci-title font-alt">
                                        Email
                                    </div>
                                    <div class="ci-text">
                                        <a href="mailto:support@bestlooker.pro">support@bestlooker.pro</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Email -->

                        </div>
                    </div>

                </div>

                <!-- Contact Form -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form class="form contact-form" id="contact_form">
                            <div class="clearfix">
                                <div class="cf-left-col">
                                    <!-- Name -->
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" class="input-md round form-control" placeholder="Name" pattern=".{3,100}" required>
                                    </div>
                                    <!-- Email -->
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="input-md round form-control" placeholder="Email" pattern=".{5,100}" required>
                                    </div>
                                </div>
                                <div class="cf-right-col">
                                    <!-- Message -->
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="input-md round form-control" style="height: 84px;" placeholder="Message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="cf-left-col">
                                    <!-- Inform Tip -->
                                    <div class="form-tip pt-20">
                                        <i class="fa fa-info-circle"></i> All the fields are required
                                    </div>
                                </div>
                                <div class="cf-right-col">
                                    <!-- Send Button -->
                                    <div class="align-right pt-10">
                                        <button class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Submit Message</button>
                                    </div>
                                </div>
                            </div>
                            <div id="result"></div>
                        </form>
                    </div>
                </div>
                <!-- End Contact Form -->
            </div>
        </section>
        <!-- End Contact Section -->
        <!-- Foter -->
        <footer class="page-section bg-gray-lighter footer pb-60">
            <div class="container">
                <!-- Footer Logo -->
                <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                    <a href="#top"><img src="http://rhythm.bestlooker.pro/images/logo-footer.png" width="78" height="36" alt="" /></a>
                </div>
                <!-- End Footer Logo -->
                <!-- Social Links -->
                <div class="footer-social-links mb-110 mb-xs-60">
                    <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                    <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                </div>
                <!-- End Social Links -->
                <!-- Footer Text -->
                <div class="footer-text">
                    <!-- Copyright -->
                    <div class="footer-copy font-alt">
                        <a href="http://themeforest.net/user/theme-guru/portfolio" target="_blank">&copy; Rhythm 2017</a>.
                    </div>
                    <!-- End Copyright -->
                    <div class="footer-made">
                        Made with love for great people.
                    </div>
                </div>
                <!-- End Footer Text -->
            </div>
            <!-- Top Link -->
            <div class="local-scroll">
                <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
            </div>
            <!-- End Top Link -->

        </footer>
        <!-- End Foter -->


    </div>
    <!-- End Page Wrap -->
    <!-- JS -->
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/jquery.viewport.mini.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/jquery.appear.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/gmap3.min.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/wow.min.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/jquery.simple-text-rotator.min.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/all.js"></script>
    <script type="text/javascript" src="http://rhythm.bestlooker.pro/js/jquery.ajaxchimp.min.js"></script>

    <!--<script type="text/javascript" src="http://rhythm.bestlooker.pro/js/contact-form.js"></script>-->
    <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
</body>
</html>
